body {
    margin: 0;
    background: linear-gradient(-45deg, #A52A2A, #A0522D, #D2B48C, #FFF8DC);
    background-size: 1000% 200%;
    animation: boxy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes boxy {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  
  }
  
#innpakning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  #header{
    width: 100%;
    height: 120px;
    border-bottom-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#box_inside_header{
    width: 300px;
    height: 80px;
    background: linear-gradient(15deg, #A52A2A, #A0522D, #D2B48C, #FFF8DC);
    background-size: 400% 400%;
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#innhold {
    width: 100%;
    height: 936px;
    display: flex;
    flex-direction: row;
}

#left_div{
    width: 35%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
}

#middel_div{
    width: 35%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#right_div{
    width: 35%;
    height: 100%;
    background-color: none;
    display: flex;
    
}


#the_cookie {
    width: 340px;
    height: 350px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    border-radius: 160px;
    background-color: none;
    display: flex;
    justify-content: center;
}


#img_cookie{
    width: 100%;
    height: 100%;
}

#score{
    width: 300px;
    height: 80px;
    background: linear-gradient(45deg,#FFF8DC, #8B4513);
    background-size: 400% 400%;
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img_50{
    height: 200px;
    width: 200px;
    filter: blur(15px);
}
.img_502{
    height: 200px;
    width: 200px;
}


.img_hand{
    height: 200px;
    width: 200px;
    filter: blur(15px);
}
.img_hand2{
    height: 200px;
    width: 200px;
    filter: blur(0px);
}

.golden_cookie{
    height: 200px;
    width: 200px;
    visibility: hidden;
}

.golden_cookie2{
    height: 200px;
    width: 200px;
}

.random_golden_cookie{
    height: 150px;
    width: 150px;
    visibility: hidden;
    
}

.random_golden_cookie2{
    height: 150px;
    width: 150px;
    position: relative;
    left: 0px;
    top: 0px;
    
}

#mouse_pointer_div{
    height: 100px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

#mouse_pointer{
    animation: up_down, ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: relative;
}
@keyframes up_down  {
    from {
        top: 0px;
        bottom: 0px;
    }
    to {
        top: 20px;
        bottom: 20px;
    }
    
    
 
 }