body {
    margin: 0;
}

#innpakning {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  #header{
    width: 100%;
    height: 120px;
    border-bottom-style: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#box_inside_header{
    width: 300px;
    height: 80px;
    background: linear-gradient(15deg, #A52A2A, #A0522D, #D2B48C, #FFF8DC);
    background-size: 400% 400%;
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#innhold {
    width: 100%;
    height: 936px;
    display: flex;
    flex-direction: row;
}

#left_div{
    width: 35%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

#middel_div{
    width: 35%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#right_div{
    width: 35%;
    height: 100%;
    background-color: green;
    display: flex;
}


#the_cookie {
    width: 340px;
    height: 350px;
    border-style: solid;
    border-width: thin;
    border-color: white;
    border-radius: 160px;
    background-color: none;
    display: flex;
    justify-content: center;
}


#img_cookie{
    width: 100%;
    height: 100%;
}

#score{
    width: 300px;
    height: 80px;
    background: linear-gradient(45deg,#FFF8DC, #8B4513);
    background-size: 400% 400%;
    border-style: solid;
    border-width: thin;
    border-color: whitesmoke;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img_50{
    height: 200px;
    width: 200px;
    filter: blur(15px);
}
.img_502{
    height: 200px;
    width: 200px;
}


.img_hand{
    height: 200px;
    width: 200px;
    filter: blur(15px);
}
.img_hand2{
    height: 200px;
    width: 200px;
    filter: blur(0px);
}

.golden_cookie{
    height: 200px;
    width: 200px;
    visibility: hidden;
}

.golden_cookie2{
    height: 200px;
    width: 200px;
}

.random_golden_cookie{
    height: 150px;
    width: 150px;
    visibility: hidden;
}

.random_golden_cookie2{
    height: 150px;
    width: 150px;
}

.hand_mouse{
    height: 50px;
    width: 50px;
}